body {
    background-image: url("../images/index_background.jpg");
    margin: 3%;
}


/* Style the navigation bar */

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}


/* Navbar links */

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}


/* Navbar links on mouse-over */

.navbar a:hover {
    background-color: rgb(212, 13, 13);
}


/* Current/active navbar link */

.active {
    background-color: #4CAF50;
}

.shop_name {
    width: 100%;
    margin: 5px;
    border: #555 solid;
    text-align: center;
}


/* .main_content {
    margin-top: 1%;
    height: 100vh;
    border: solid #774caf;
} */

.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: #f1f1f1;
    display: inline-block;
    width: 500px;
    margin: 10px;
    height: 300px;
}

#Prizee {
    float: right;
    display: inline;
}

.cakename {
    margin: 0%;
    text-align: center;
}

#prize,
#cost {
    display: inline;
}

#cakeimg {
    margin: 20px;
    margin-bottom: 0px;
    width: 80%;
    height: 60%;
    align-items: center;
}

h3,
h4,
button,
h5 {
    display: inline;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}