body {
    background-image: url(images/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}

.heading {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: #b21db8;
}

form {
    width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    background: rgb(238, 187, 238);
    border-radius: 8px;
    border-style: outset;
    border-color: #e5c8ee
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea,
select {
    margin: 2%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 15px;
    height: auto;
    outline: 0;
    padding: 15px;
    width: 80%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

button {
    margin-left: 15%;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #b21db8;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 70%;
    border: 1px solid #520b47;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    cursor: pointer


}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

label {
    margin: 2%;
    text-align: left;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: #9b11a0;
}

p {
    display: inline-block;
    text-align: left;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: #9b11a0;
}

.headformat {
    font-size: xx-large;
    display: block;
    height: 45%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #db9eeb, 0 0 20px #e288e6, 0 0 25px #f082e7, 0 0 30px #e474ee, 0 0 35px #e430db;
}
